###############################################################################
#                          Generated on phpdocker.io                          #
###############################################################################
version: "3.1"
services:

    mailhog:
      image: mailhog/mailhog:latest
      container_name: login-server-mailhog
      ports:
        - "8001:8025"

    mysql:
      image: mysql:8.0
      container_name: login-server-mysql
      working_dir: /application
      volumes:
        - .:/application
      environment:
        - MYSQL_ROOT_PASSWORD=R00tT00r
        - MYSQL_DATABASE=users
        - MYSQL_USER=admin
        - MYSQL_PASSWORD=@dm8n
      ports:
        - "8002:3306"

    webserver:
      image: nginx:alpine
      container_name: login-server-webserver
      working_dir: /application
      volumes:
          - .:/application
          - ./phpdocker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
      ports:
       - "8000:80"

    php-fpm:
      build: phpdocker/php-fpm
      container_name: login-server-php-fpm
      working_dir: /application
      volumes:
        - .:/application
        - ./phpdocker/php-fpm/php-ini-overrides.ini:/etc/php/7.3/fpm/conf.d/99-overrides.ini

